/.phpunit.cache
/node_modules
/check_count.php
/list_templates.php
/orange_search.html
/out.txt
/changelog*
# /public/
/storage/*.key
/storage/pail
/vendor/
/bootstrap/cache/*.php

# Environment files
.env
.env.*
!.env.example
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache

docker-compose.override.yml
/doc
/docs/
/.github/

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed


/resources/assets/vendor/fonts/flags/**
/resources/assets/vendor/fonts/fontawesome/**
/resources/assets/vendor/fonts/iconify/**

/resources/assets/vendor/fonts/flags/**
/resources/assets/vendor/fonts/fontawesome/**

# Except for 'template-customizer.js' inside 'resources/assets/vendor/js/'


